<section>
  <h1>Awesome Sites</h1>
  <ul id="awesomesites">
    <li><a href="http://jonathanlewis.wordpress.com/">Oracle Scratchpad</a></li>
    <li><a href="http://richardfoote.wordpress.com/">Richard Foote's Oracle Blog</a></li>
    <li><a href="http://allthingsoracle.com/">All things ORACLE</a></li>
    <li><a href="http://www.dbform.com/">Channel[K]</a></li>
    <li><a href="http://tkyte.blogspot.sg/">The TOM KYTE BLOG</a></li>
    <li><a href="http://awads.net/wp/">Eddie Awad's Blog</a></li>
    <li><a href="http://www.dbsnake.com/">Focus on Oracle</a></li>
    <li><a href="http://www.laoxiong.net/">老熊的三分地</a></li>
    <li><a href="http://www.askmaclean.com/">askmaclean</a></li>
  </ul>
</section>
